.order-list{
  background-color: #fcf8f5;
  padding: 10px;


  .dessert {
    border-bottom: 1px solid #b3b3b3;

    .img-dessert {
      width: 30%;
      border-radius: 20px;
      margin-bottom: 8px;
    }
    .piece-price{
      .number-price{
    .number-dessert{
      font-size: 13px;
      color: #c83b0e;
    }
    .price-dessert{
      font-size: 13px;
      color: #707070;
    }
      }
    }

  }


}

.confirm-crder{
  button{
    color: #ffffff;
      border-radius: 11px;
      padding: 7px;
      background-color: #c83b0e;
      border: none;
      width: 100%;
      margin: 10px;
  }
  }
